:root {
  --main-bg: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --bg-red-gradient: #1e1e1e;
  --bg-section-second: #1e1e1e;
  --bg-header: #ffffff;
  --bg-footer: #ffffff;
  --color-purple: #fff400;
  --shadow: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.75));
  --copyright: #00000033;
  --border-yellow: #ff5b3f;
  --font-family-main: var(--font-manrope), 'Manrope', system-ui, sans-serif;
  --font-family-second: var(--font-roboto), 'Roboto', sans-serif;
  --font-family-third: 'fontThree';
  --border-radius: 0px;
  --border-radius-button: 0px;
  --border-radius-second: 0px;
  --font-weight-main: 600;
  --font-weight-second: 600;
  --font-weight-third: 400;
  --font-weight-500: 500;
  --after-element: rgba(255, 255, 255, 0.2);
  --after-element-second: rgba(0, 0, 0, 0.2);
  --button-primary-bg: #fff400;
  --button-primary-color: #000000;
  --button-font-size-primary: 24px;
  --button-primary-width: 286px;
  --button-primary-height: 81px;
  --button-secondary-bg: transparent;
  --button-secondary-color: #000000;
  --button-secondary-width: 309px;
  --button-secondary-height: 67px;
  --button-primary-mobile-width: 536px;
  --button-font-size-mobile-primary: 18px;
  --button-secondary-mobile-width: 273px;
  --button-font-size-mobile-secondary: 16px;
  --header-buttons-desktop-height: 54px;
  --header-first-desktop-button-width: 110px;
  --header-second-desktop-button-width: 165px;
  --button-font-size-desktop-header: 16px;
  --button-radius-desktop: 0px;
  --header-buttons-mobile-height: 40px;
  --header-first-mobile-button-width: 70px;
  --header-second-mobile-button-width: 108px;
  --button-font-size-mobile-header: 12px;
  --button-radius-mobile: 0px;
  --button-accordion-mobile-width: 205px;
  --svg--info-width: 26px;
  --table-head: #fdf8eb;
  --table-head-color: #000000;
  --table-body: transparent;
  --table-body-color: #000000;
  --table-head-font-family: var(--font-family-main);
  --table-head-font-size: 24px;
  --table-head-font-weight: var(--font-weight-main);
  --table-head-padding-y: 32px;
  --table-head-padding-x: 16px;
  --table-body-font-family: var(--font-family-second);
  --table-body-font-size: 20px;
  --table-body-font-weight: var(--font-weight-500);
  --table-row-gap: 6px;
  --welcome-bonus-color: #ffffff;
  --bonus-section-text: #ffffff;
  --top-casino-text-color: #000000;
  --top-games-text-color: #ffffff;
  --topGames-button-hover-background: linear-gradient(
    180deg,
    #00000000 0%,
    #000000 100%
  );
  --payments-table-head: #1e1e1e;
  --payments-table-body: #ffffff;
  --payments-text-left: #ff5b3f;
  --software-provider-card-bg: #1e1e1e;
  --faq-question-color: #000000;
  --faq-text-color: #000000;
  --support-text-color: #ffffff;
  --last-text-color: #000000;
}
