.applicationCircleContainer {
  background: url("/images/app-chips.webp") no-repeat right center / auto 40%;
  display: flex;
  flex-direction: column;
  max-width: 2560px;
  width: 100%;
}
@media (max-width: 1800px) {
  .applicationCircleContainer {
    background: url("/images/app-chips.webp") no-repeat right center / auto 30%;
  }
}
@media (max-width: 1024px) {
  .applicationCircleContainer {
    background-image: none;
  }
}
