/* .section {
  margin: 64px 0;
} */
.section {
  background: var(--main-bg);
}
.section h1 {
  text-align: center;
  padding: 23px 60px;
  font-size: 28px;
  background: var(--bg-red-gradient);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-second);
}

@media (max-width: 768px) {
  .section {
    padding: 40px 0;
  }

  .section h1 {
    padding: 16px 13px;
    font-size: 20px;
  }
  .wrapper {
    gap: 40px;
  }

  .lastBlock {
    grid-template-columns: repeat(1, 1fr);
  }
}
