.bonusSection {
  background: url('../../../../../public/sectionImg/slot1.webp') no-repeat top 11% left 87% / auto 102%;
  max-width: 1440px;
  margin: 0 auto;
}
.mobile {
  display: none;
}
.someSection {
  background-color: var(--bg-red-gradient);
}

.title {
  color: var(--welcome-bonus-color);
  font-family: var(--font-family-main);
  font-size: 64px;
  font-style: normal;
  font-weight: var(--font-weight-main);
  /* line-height: normal; */
  letter-spacing: 0;
  text-transform: uppercase;
}

.bonusSection_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bonusSection_left {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 420px;
  align-items: start;
  /* margin-top: 5px; */
}

.bonusSection_left p {
  color: var(--bonus-section-text);
  font-family: var(--font-family-main);
  font-size: 35px;
  font-style: normal;
  font-weight: var(--font-weight-main);
  line-height: normal;
  text-transform: uppercase;
}

.bonusSection_right {
  /* width: 740px; */
  height: 540px;
}

@media (max-width: 1200px) {
  .bonusSection {
    background: url('../../../../../public/sectionImg/slot1.webp') no-repeat top
      20% left 90% / auto 90%;
  }
}

@media (max-width: 1085px) {
  .bonusSection {
    background: url('../../../../../public/sectionImg/slot1.webp') no-repeat top
      40% left 95% / auto 80%;
  }
}

@media (max-width: 1000px) {
  .bonusSection {
    background: url('../../../../../public/sectionImg/slot1.webp') no-repeat top
      35% left 90% / auto 60%;
  }
}

@media (max-width: 875px) {
  .bonusSection_wrapper {
    flex-direction: column-reverse;
    gap: 29px;
    padding-bottom: 37px;
  }
  .bonusSection {
    background: url('../../../../../public/sectionImg/slot1-mobile.webp') no-repeat
      top 7% left 4px / auto 56%;
    /* margin-bottom: 110px; */
    margin-bottom: 0px;
  }
  .bonusSection_right {
    width: 576px;
    height: 318px;
    /* background: url('../../../../public/sectionImg/slot1-mobile.webp') no-repeat
      center center / auto 100%; */
  }
  .title {
    display: none;
  }
  .bonusSection_left {
    align-items: center;
    text-align: center;
    width: auto;
    gap: 19px;
    margin-top: 0;
  }
  .mobile {
    display: block;
  }
  .bonusSection_left p {
    font-size: 30px;
    font-family: var(--font-family-main);
    /* font-weight: var(--font-weight-second); */
    text-transform: uppercase;
    /* color: #ecd027; */
    /* line-height: 26px; */
  }
  .desktop {
    display: none;
  }
}

@media (max-width: 594px) {
  .bonusSection_right {
    width: 450px;
    /* height: 313px; */
    height: 307px;
  }
}

@media (max-width: 550px) {
  .bonusSection {
    background: url('../../../../../public/sectionImg/slot1-mobile.webp') no-repeat
      top 10% center / auto 50%;
  }
  .bonusSection_right {
    height: 220px;
    width: 380px;
  }
}

@media (max-width: 420px) {
  .bonusSection_right {
    width: 330px;
    /* height: 180px; */
  }
  .bonusSection_left {
    gap: 14px;
  }
  .bonusSection_left p {
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  .bonusSection_right {
    width: 300px;
    height: 180px;
  }
}
