@import './styles/normalize.css';
@import './styles/loader.css';
@import './styles/not-found.css';
@import './styles/theme-tokens.css';

:root {
  /* --bg-red-gradient: url(/sectionImg/bg.webp), #001937; */
  --shadow: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.75));
  --copyright: #ffffff57;
  --font-family-third: 'fontThree';
  --border-radius: 5px;
  --border-radius-button: 3px;
  --border-radius-second: 5px;
  --font-weight-third: 700;
  --after-element: #ffffff33;
  --after-element-second: #00000033;
  --bonusSection-bg: #fff;
  /* Primary and second buttons */
  /* --button-primary-bg: linear-gradient(0deg, #fd9400, #fee900); */
  --button-primary-bg: #e10a0a;
  --button-font-size-primary: var(--font-size-body-24);
  --button-primary-width: 275px;
  --button-primary-height: 77px;
  /* --button-secondary-bg: linear-gradient(0deg, #e83a32, #df6562); */
  --button-secondary-bg: #fff;
  --button-secondary-color: var(--color-black);
  --button-secondary-width: 309px;
  --button-secondary-height: 64px;

  --button-primary-mobile-width: 536px;
  --button-font-size-mobile-primary: 18px;
  --button-secondary-mobile-width: 273px;
  --button-font-size-mobile-secondary: 16px;

  /* header block desktop*/
  --header-buttons-desktop-height: 51px;
  --header-first-desktop-button-width: 110px;
  --header-second-desktop-button-width: 161px;
  --button-font-size-desktop-header: 16px;
  --button-radius-desktop: 3px;
  /* header block  mobile */
  --header-buttons-mobile-height: 38px;
  --header-first-mobile-button-width: 70px;
  --header-second-mobile-button-width: 105px;
  --button-font-size-mobile-header: 12px;
  --button-radius-mobile: 3px;

  /* table components */
  --table-head-font-family: var(--font-family-main);
  --table-head-font-size: var(--font-size-h4);
  --table-head-font-weight: var(--font-weight-main);
  --table-head-padding-y: 26px;
  --table-head-padding-x: 24px;
  --table-body-font-family: var(--font-family-second);
  --table-body-font-size: var(--font-size-body-20);
  --table-body-font-weight: var(--font-weight-500);
  --table-row-gap: 6px;

  /* top Games section */
  --topGames-button-hover-background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0,
    #000000 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--main-bg);
}

main {
  margin-top: 96px;
}

@media (max-width: 875px) {
  main {
    margin-top: 80px;
  }
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}

@media (max-width: 1180px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.text {
  font-family: var(--font-family-second);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  color: var(--color-white);
  word-wrap: break-word;
  word-break: break-word;
}

h1 {
  margin: 0px;
}

ul,
li,
ol {
  list-style: none;
}

button {
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

/* button:hover {
  transform: scale(1.07);
} */

.button-primary {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid;
  outline-offset: -1px;
  outline-color: #121212; */
  padding: 4px 48px;
  background: var(--button-primary-bg);
  color: var(--button-primary-color);
  font-size: var(--button-font-size-primary);
  line-height: 34px;
  border: none;
  min-width: var(--button-primary-width);
  height: var(--button-primary-height);
  text-align: center;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: var(--font-weight-main);
  line-height: normal;
  /* text-transform: uppercase; */
  border-radius: var(--border-radius-button);
}

.button-secondary {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 3px solid;
  outline-offset: -3px;
  outline-color: var(--button-primary-bg);
  padding: 2px 18px;
  /* box-shadow: 0px 4px 8px 0px #00040d33; */

  background: var(--button-secondary-bg);
  color: var(--button-secondary-color);
  font-size: 20px;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main);
  /* border: 2px solid var(--color-black); */
  border: none;
  height: var(--button-secondary-height);
  /* text-transform: uppercase; */
  border-radius: var(--border-radius-button);
}

.title-black {
  font-family: var(--font-family-main);
  font-size: var(--font-size-h1);
  font-style: normal;
  font-weight: var(--font-weight-second);
  line-height: normal;
  /* text-transform: uppercase; */
  color: var(--color-black);
  overflow-wrap: break-word;
  word-break: break-word;
}

.title-white {
  font-family: var(--font-family-main);
  font-size: var(--font-size-h2);
  font-style: normal;
  font-weight: var(--font-weight-second);
  line-height: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  /* text-transform: uppercase; */
  color: var(--color-white);
}

.title-small {
  font-size: var(--font-size-h3);
}

.table_block {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.width-120 {
  width: 120px;
}

.width-120.fix {
  width: 120px;
}

.width-140 {
  width: 140px;
}

.width-160 {
  width: 160px;
}

.lastBlock {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  width: 100%;
}

.gap-64 {
  gap: 64px;
}

.lastBlockElement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.lastBlockElementWrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex: 1;
}

.redSection {
  background: var(--bg-red-gradient);
  padding: 64px 0;
}

.redSectionSecond {
  background: var(--bg-red-gradient);
  padding: 64px 0;
}

/* .redSectionSecond .text,
.redSectionSecond h1,
.redSectionSecond h2,
.redSectionSecond h3 {
  color: var(--color-black);
} */

.row {
  display: grid;
  grid-template-columns: 18% 22% 12% 13% 12% 23%;
  align-items: center;
  background-color: var(--table-body);
  border-radius: var(--border-radius);
  /* box-shadow: 4px 4px 8px 0px #00111a26; */
}

.cell {
  color: var(--table-body-color);
  font-family: var(--font-family-second);
  font-size: 20px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 40px;
  padding: 9.25px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 88px;
}

.cell img {
  max-width: 100%;
  height: auto;
}

.cell::after {
  content: '';
  position: absolute;
  right: 0;
  height: 56px;
  width: 1px;
  background-color: var(--after-element);
}

.cell.last::after {
  display: none;
}

.cell .button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: none;
}

.cell .button-secondary {
  width: 218px;
  height: 56px;
  padding: 2px 8px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 4, 13, 0.2); */
}

.cell .button:hover {
  transform: none;
}

.listBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#games,
#bonuses,
#mobile {
  scroll-margin-top: 95px;
}

.show-850 {
  display: none;
}

@media (max-width: 1100px) {
  .row {
    grid-template-columns: 25% 15% 15% 15% 30%;
  }
  .hide-1000 {
    display: none !important;
  }
  .width-120 {
    width: 100px;
  }

  .width-140 {
    width: 120px;
  }

  .width-160 {
    width: 120px;
  }
}
@media (max-width: 850px) {
  .gap-64 {
    gap: 40px;
  }

  .lastBlock {
    flex-direction: column;
  }
  .cell {
    font-size: 18px;
    height: 80px;
    line-height: normal;
  }
  .row {
    grid-template-columns: 36% 22% 22% 20%;
  }

  .row button {
    width: auto;
  }

  .cell:after {
    display: none;
  }

  .cell:first-child:after {
    display: block;
    height: 64px;
  }
  .hide-850 {
    display: none !important;
  }

  .show-850 {
    display: block;
  }
}
@media (max-width: 768px) {
  .button-primary {
    font-size: var(--button-font-size-mobile-primary);
    padding: 4px 20px;
    min-width: 240px;
    width: var(--button-primary-mobile-width);
    height: 58px;
    line-height: 100%;
    width: 100%;
  }
  .button-secondary {
    font-size: var(--button-font-size-mobile-secondary);
    width: var(--button-secondary-mobile-width) !important;
    height: 51px !important;
  }
  .title-black,
  .title-white {
    font-size: 28px;
    font-weight: var(--font-weight-second);
  }

  .text {
    font-size: 18px;
    line-height: 32px;
  }

  .title-small {
    font-size: 24px;
  }
  .cell .info {
    height: var(--svg--info-width);
    width: var(--svg--info-width);
  }
}
@media (max-width: 575px) {
  .listBlock {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 480px) {
  .cell {
    font-size: 16px;
    padding: 4px 8px;
  }
  h2.title-white,
  h2.title-black {
    font-size: 26px;
  }
}
@media (max-width: 425px) {
  .button-primary {
    font-size: 18px;
    padding: 10px 14px;
  }
  .button-secondary {
    width: 210px !important;
  }
}

/* @media (max-width: 380px) {
  .button-primary {
    height: 60px;
    width: 270px;
  }
} */

@media (max-width: 300px) {
  .button-secondary {
    padding: 2px 16px;
    width: auto;
    height: auto;
  }
  .button-primary {
    width: auto;
    height: auto;
  }
}
