.section {
  padding: 140px 0;
  background: var(--main-bg);
}

.sectionHeading {
  text-align: center;
  width: 100%;
}

.surface {
  background: var(--bg-section-second);
  border-radius: var(--border-radius-second);
  padding: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

.surface :global(.text),
.surface :global(li) {
  color: var(--color-black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section ol,
.section ul {
  margin-left: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section ul li {
  list-style-type: disc;
}

.section ol li {
  list-style-type: decimal;
}

.lastBlock {
  width: 100%;
}

@media (max-width: 768px) {
  .section {
    padding: 64px 0;
  }
  .sectionHeading {
    text-align: left;
  }
  .surface {
    padding: 20px;
    gap: 24px;
  }

  .wrapper {
    gap: 24px;
  }

  .lastBlock {
    grid-template-columns: repeat(1, 1fr);
  }
}
