.wrapper {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  gap: 48px;
  flex-direction: column;
}

.section {
  margin-bottom: 140px;
}

.tabsCard {
  width: 100%;
  background: var(--table-body);
  border-radius: var(--border-radius-second);
  padding: 28px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tabsTitle {
  font-family: var(--font-family-main);
  font-size: 44px;
  font-style: normal;
  font-weight: var(--font-weight-second);
  line-height: normal;
  color: var(--color-black);
}

.sectionBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about li,
.lastBlock li {
  list-style: disc;
}

.section ol,
.section ul {
  margin-left: 20px;
}

.section ul li {
  list-style: disc inside;
}
.section ol li {
  list-style-type: decimal;
}
.middleBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  word-break: break-word;
}

@media (max-width: 768px) {
  /* .section {
    padding: 20px 0;
  } */
  .wrapper {
    gap: 24px;
  }

  .tabsCard {
    padding: 20px 16px;
  }

  .tabsTitle {
    font-size: 28px;
  }
  .section {
    margin-bottom: 64px;
  }
}
