#after-payments {
  margin: 140px 0;
}

@media (max-width: 768px) {
  #after-payments {
    margin: 64px 0;
  }
}

#after-payments ul {
  margin-left: 16px;
}

#after-payments ul li{
  list-style: disc inside;
}
