@import "./normalize.css";
@import "./loader.css";
@import "./burger.css";
@import "./topGamesSection.css";
@import "./casinoInfoSection.css";
@import "./lastSection.css";
@import "./afterPayments.css";
@import "./appSection.css";
@import "./faqSection.css";
@import "./supportSection.css";
@import "./bonusDetails.css";

/* @font-face {
  font-family: "Lato Black";
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-bg: #8e1d1b;
  --color-white: #ffffff;
  --color-black: #7e110f;
  --bg-red-gradient: #b91f1c;
  --bg-section-second: #b91f1c;
  --bg-header: #b91f1c;
  --bg-footer: #7e110f;
  --color-purple: #ffcd00;
  --shadow: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.75));
  --copyright: #ffffff57;
  --border-yellow: #f0af30;
  --font-family-main: "PT Sans", Arial, sans-serif;
  --font-family-second: "Roboto", Arial, sans-serif;
  --border-radius: 15px;
  --border-radius-button: 12px;
  --border-radius-second: 8px;
  --font-weight-main: 700;
  --font-weight-second: 700;
  --font-weight-third: 400;
  --font-weight-500: 500;
  --after-element: #ffffff33;
  --after-element-second: #00000033;
  --button-primary-bg: #ffcd00;
  --button-primary-color: #7e110f;
  --button-font-size-primary: 28px;
  --button-primary-width: 340px;
  --button-primary-height: 82px;
  --button-secondary-bg: #2fe3ff;
  --button-secondary-color: #7e110f;
  --button-secondary-width: 187px;
  --button-secondary-height: 52px;
  --button-primary-mobile-width: 280px;
  --button-font-size-mobile-primary: 24px;
  --button-secondary-mobile-width: 200px;
  --button-font-size-mobile-secondary: 18px;
  --header-active-color: #7e110f;
  --header-buttons-desktop-height: 42px;
  --header-buttons-color-text: #7e110f;
  --header-second-desktop-button-width: 200px;
  --button-font-size-desktop-header: 14px;
  --button-radius-desktop: 6px;
  --header-buttons-mobile-height: 29px;
  --header-second-mobile-button-width: 100px;
  --button-font-size-mobile-header: 10px;
  --button-radius-mobile: 6px;
  --button-accordion-mobile-width: 200px;
  --svg--info-width: 26px;
  --table-head: #b91f1c;
  --table-head-color: #ffffff;
  --table-body: #7e110f;
  --table-body-color: #ffffff;
  --welcome-bonus-color: #ffffff;
  --bonus-section-text: #ffffff;
  --bonus-section-bg: #7e110f;
  --h1-section-bg: #7e110f;
  --h1-section-color-text: #ffffff;
  --top-casino-text-color: #ffffff;
  --top-games-text-color: #ffcd00;
  --payments-table-head: #0f4e8b;
  --payments-table-body: #e4f2ff;
  --payments-text-left: #0084ff;
  --software-provider-card-bg: #0f4e8b;
  --faq-question-color: #ffffff;
  --faq-text-color: #ffffff;
  --support-text-color: #ffffff;
  --last-text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--main-bg);
}
main {
  margin-top: 96px;
  margin-bottom: 140px;
  scroll-margin-top: 96px;
}
/* li,
ol,
ul {
  list-style: none;
} */

button {
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
button:hover {
  transform: scale(1.07);
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}
.bonusDetailSection_wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 140px;
}
@media (max-width: 1180px) {
  .container {
    padding: 0 40px;
  }
  .bonusDetailSection_wrapper {
    margin-bottom: 64px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0 20px;
  }
}
.title-black,
.title-white {
  font-family: var(--font-family-main);
  font-size: 56px;
  font-style: normal;
  font-weight: var(--font-weight-main);
  line-height: normal;
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-break: break-word;
  color: var(--color-white);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.title-white {
  color: var(--color-white);
}

.title-small {
  font-size: 40px;
}
.button-primary {
  padding: 4px 48px;
  background: var(--button-primary-bg);
  color: var(--button-primary-color);
  font-size: var(--button-font-size-primary);
  line-height: 34px;
  border: none;
  min-width: var(--button-primary-width);
  height: var(--button-primary-height);
  text-align: center;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main);
  text-transform: uppercase;
  border-radius: var(--border-radius-button);
}
.button-secondary {
  padding: 2px 18px;
  background: var(--button-secondary-bg);
  color: var(--button-secondary-color);
  font-size: 20px;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main);
  border: none;
  height: var(--button-secondary-height);
  text-transform: uppercase;
  border-radius: var(--border-radius-button);
}

.redSection {
  background: var(--bg-red-gradient);
  padding: 64px 0;
}

.topCasinoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin: 70px auto 140px;
}
.topCasinoSection_title {
  width: 100%;
}
.lastBlockElement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0;
}

.text {
  font-family: var(--font-family-second);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  color: var(--color-white);
  word-wrap: break-word;
  word-break: break-word;
}
.listBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 48px;
  width: 100%;
}
.gap-64 {
  gap: 64px;
}
/* Header */
.header {
  background: var(--bg-header);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0 160px;
}
.header_wrapper {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerButtonBlock {
  display: flex;
  gap: 36px;
}
.navBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBlock .ulBlock {
  list-style: none;
  display: flex;
  gap: 24px;
}
.navBlock li a {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-family-main);
  font-size: 16px;
  font-weight: var(--font-weight-main);
  transition: color 0.3s ease;
}
.ulBlock li a.active {
  color: var(--header-active-color);
}

.ulBlock li a:hover {
  color: var(--header-active-color);
}
@media (max-width: 1024px) {
  .ulBlock {
    position: absolute;
    top: 96px;
    left: -100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 100px;
    background: var(--bg-red-gradient);
    list-style-type: none;
    transition: 0.3s;
    width: 100%;
    height: calc(100vh - 96px);
  }
  .ulBlock.open {
    left: 0;
  }
  .ulBlock li a {
    font-size: 32px;
  }
}

.logoBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}
.register {
  height: var(--header-buttons-desktop-height);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main);
  font-size: var(--button-font-size-desktop-header);
  border-radius: var(--button-radius-desktop);
  cursor: pointer;
  border: none;
  width: var(--header-second-desktop-button-width);
  background: var(--button-primary-bg);
  color: var(--header-buttons-color-text);
}
@media (max-width: 1200px) {
  .header {
    padding: 0 80px;
  }
}
@media (max-width: 1100px) {
  .header {
    padding: 0 48px;
  }
}
@media (max-width: 850px) {
  .headerButtonBlock {
    gap: 8px;
  }
  .header_wrapper a img {
    scale: 0.85;
    margin-left: -5px;
    margin-top: 5px;
  }
  .register {
    height: var(--header-buttons-mobile-height);
    font-size: var(--button-font-size-mobile-header);
    border-radius: var(--button-radius-mobile);
    width: var(--header-second-mobile-button-width);
  }
  .header {
    padding: 0;
  }
}
@media (max-width: 475px) {
  .headerButtonBlock {
    display: block;
  }
}

.h1Section {
  background: var(--main-bg);
}

.h1Section h1 {
  margin: 0;
  text-align: center;
  padding: 33px 60px;
  font-size: 28px;
  background: var(--h1-section-bg);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-second);
  color: var(--h1-section-color-text);
}

@media (max-width: 1180px) {
  .h1Section > div {
    max-width: 912px;
  }
}

@media (max-width: 910px) {
  .h1Section > div {
    max-width: 626px;
  }
}

@media (max-width: 768px) {
  .h1Section {
    padding: 40px 0;
  }

  .h1Section > div {
    max-width: 576px;
  }

  .h1Section h1 {
    padding: 26px 13px;
    font-size: 20px;
  }

  /* .h1Section_wrapper__dJaZB {
    gap: 40px;
  }

  .h1Section_lastBlock__dyiyW {
    grid-template-columns: repeat(1, 1fr);
  } */
}

/* Footer */
.footer {
  padding: 24px 0;
  background: var(--bg-footer);
  position: relative;
}
/* .footer .logo {
  position: absolute;
  left: 160px;
  top: 24px;
} */
.footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.footer .logo {
  height: 36px;
}
.payments,
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 24px;
  column-gap: 16px;
}
.partners {
  max-width: 650px;
}
.partners img,
.payments img {
  max-height: 32px;
  width: auto;
}
.blockColor {
  mix-blend-mode: luminosity;
}
.paymentsBlock,
.partnersBlock {
  display: flex;
  align-items: center;
}
.paymentsBlock:hover .blockColor,
.partnersBlock:hover .blockColor {
  mix-blend-mode: normal;
}
.copyright {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-500);
  color: var(--copyright);
}
.copyrightLeft {
  font-size: 32px;
  margin-right: 16px;
  vertical-align: sub;
}
.copyrightRight {
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
  margin-top: 3px;
}
@media (max-width: 1390px) {
  .footer .logo {
    position: inherit;
  }
}
@media (max-width: 850px) {
  .footer {
    padding: 12px 0;
  }
  .partners img,
  .payments img {
    max-height: 22px;
  }
  .partners,
  .payments {
    gap: 10px;
  }
  .copyrightLeft {
    margin-right: 8px;
    vertical-align: bottom;
  }
  .copyrightLeft,
  .copyrightRight {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 510px) {
  .copyrightRight {
    text-align: center;
  }
  .copyrightLeft {
    margin-right: 6px;
  }
}
@media (max-width: 440px) {
  .copyrightLeft,
  .copyrightRight {
    font-size: 16px;
    line-height: 20px;
  }
  .copyright {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .copyrightLeft,
  .copyrightRight {
    font-size: 14px;
    line-height: 16px;
  }
}

/* FAQ */
.faqWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}
.faqBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faqElement {
  color: var(--faq-question-color);
  font-family: var(--font-family-main);
  background: var(--table-body);
  font-size: 24px;
  font-weight: var(--font-weight-second);
  text-transform: uppercase;
  padding: 10px 36px;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.faqElement img {
  width: 24px;
  height: 24px;
  margin-right: 27px;
}
.faqText {
  font-family: var(--font-family-second);
  font-size: 20px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 40px;
  color: var(--faq-text-color);
}

/* Top Games */
.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
}
.gameCard {
  position: relative;
  cursor: pointer;
  max-width: 264px;
  max-height: 142px;
  text-align: center;
  transition: transform 0.5s ease;
  border-radius: var(--border-radius);
  border: none;
}
.gameCard:hover {
  transform: scale(1.04);
}
.gameCard > div {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: var(--table-body);
  transition: opacity 0.5s ease;
  border-radius: var(--border-radius);
}
.gameCard:hover > div {
  opacity: 1;
}
.gameCard > img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--border-radius);
}

/* Top Casino */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  justify-content: center;
  grid-gap: 24px 26px;
  gap: 24px 26px;
  width: 100%;
  margin: 0 auto;
}
.cardCasino {
  display: flex;
  width: 260px;
  padding: 30px 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: var(--table-body);
  border-radius: var(--border-radius-second);
}
.cardCasino img {
  filter: var(--shadow);
  object-fit: cover;
}
.cardCasino h3 {
  color: var(--top-casino-text-color);
  text-align: center;
  font-family: var(--font-family-second);
  font-size: 20px;
  font-weight: var(--font-weight-500);
  line-height: 23.44px;
  text-transform: capitalize;
}
.cardCasino h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: normal;
  color: var(--color-purple);
  font-family: var(--font-family-second);
}
.cardCasino p {
  color: var(--top-casino-text-color);
  text-align: center;
  font-family: var(--font-family-second);
  font-size: 20px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 23.44px;
}

.cardCasino button {
  width: var(--button-secondary-width);
  margin-top: auto;
}

/* Payments tables */
.paymentsTableHead {
  display: flex;
  height: 60px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  background-color: var(--table-head);
  color: var(--table-head-color);
  border-radius: var(--border-radius);
  font-family: var(--font-family-second);
  font-size: 18px;
  font-weight: 500;
}
.paymentsTableHead .last {
  min-width: 168px;
}
.paymentsRow {
  display: flex;
  height: 80px;
  padding: 0 16px;
  align-items: center;
  gap: 10px;
  background-color: var(--table-body);
  border-radius: var(--border-radius);
}
.paymentsRow p {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-500);
  font-size: 20px;
  line-height: 40px;
  color: var(--table-body-color);
}
.paymentsRow .button-secondary {
  width: 168px;
  text-decoration: none;
}
.paymentsRow img {
  filter: var(--shadow);
}

/* Second table (mobile) */
.paymentsCard {
  margin-top: 12px;
}
.paymentsCardHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 7px;
  gap: 10px;
  background-color: var(--payments-table-head);
  color: var(--table-head-color);
  font-family: var(--font-family-second);
  border-radius: var(--border-radius);
}
.paymentsCardHead a {
  text-decoration: none;
  width: 100%;
  max-width: 200px;
}
.paymentsCardBody {
  background: var(--payments-table-body);
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border-radius: var(--border-radius);
}
.paymentsCardBody .row {
  color: var(--table-body-color);
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  padding: 7px;
  border-bottom: 1px solid var(--after-element-second);
}
.paymentsCardBody .row:last-child {
  border-bottom: none;
}
.paymentsCardBody .label {
  color: var(--payments-text-left);
}
.paymentsCard .button-secondary {
  max-width: 200px;
  width: 100%;
}
@media (max-width: 1000px) {
  .paymentsTableHead,
  .paymentsRow {
    display: none;
  }
}
@media (min-width: 1001px) {
  .paymentsCard {
    display: none;
  }
}

/* Advantages */
.advantages {
  margin-bottom: 140px;
  position: relative;
}
.advantagesSection_wrapper {
  display: flex;
  margin-right: 345px;
}
.advantages .left {
  align-items: flex-start;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 32px;
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.advantages .left ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.advantages .left li {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 400px;
  font-family: var(--font-family-second);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: normal;
}
.advantages .right {
  position: relative;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-white);
}
.advantages .title {
  color: var(--color-white);
  font-family: var(--font-family-main);
  font-size: 40px;
  font-style: normal;
  font-weight: var(--font-weight-second);
  line-height: 48px;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
.advantages .backImg {
  position: absolute;
  left: 340px;
  top: 20px;
  max-width: 220px;
}
.advantages .stores {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 1200px) {
  .advantages .backImg {
    position: static;
  }
}
@media (max-width: 768px) {
  .advantages .wrapper {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .advantages .left {
    border: none;
    padding-right: 0;
  }
  .advantages .stores {
    flex-direction: row;
    justify-content: center;
  }
}

/* Header polish */
.header .wrapper img {
  display: block;
}

/* Bonus Section */
.someSection {
  background: var(--bonus-section-bg);
}
.bonusSection {
  background: url("../public/sectionImg/slot1.webp") no-repeat top 50% left 79% /
    auto 85%;
  max-width: 1440px;
  margin: 0 auto;
}
.bonusSection_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bonusSection_left {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 420px;
  align-items: flex-start;
}
.bonusSection_left p {
  color: var(--bonus-section-text);
  font-family: var(--font-family-main);
  font-size: 32px;
  font-weight: var(--font-weight-main);
  text-transform: uppercase;
  line-height: normal;
}
.bonusSection_right {
  height: 540px;
}
.bonus-title {
  color: var(--welcome-bonus-color);
  font-family: var(--font-family-main);
  font-size: 64px;
  font-weight: var(--font-weight-main);
  line-height: 88px;
  text-transform: uppercase;
}
.bonus-text.desktop {
  display: block;
}
.bonus-text.mobile {
  display: none;
}
@media (max-width: 1200px) {
  .bonusSection {
    background: url("../public/sectionImg/slot1.webp") no-repeat top 50% left
      90% / auto 80%;
  }
}
@media (max-width: 1085px) {
  .bonusSection {
    background: url("../public/sectionImg/slot1.webp") no-repeat top 50% left
      90% / auto 70%;
  }
}
@media (max-width: 1000px) {
  .bonusSection {
    background: url("../public/sectionImg/slot1.webp") no-repeat top 50% left
      90% / auto 55%;
  }
}
@media (max-width: 875px) {
  .bonusSection_wrapper {
    flex-direction: column-reverse;
    gap: 24px;
    padding-bottom: 33px;
  }
  .bonusSection {
    background: url("../public/sectionImg/slot1-mobile.webp") no-repeat top 5%
      center / auto 55%;
  }
  .bonusSection_right {
    width: 576px;
    height: 317px;
  }
  .bonus-title {
    display: none;
  }
  .bonusSection_left {
    align-items: center;
    text-align: center;
    width: auto;
    gap: 24px;
    margin-top: 0;
  }
  .bonus-text.mobile {
    display: block;
  }
  .bonus-text.desktop {
    display: none;
  }
  .bonusSection_left p {
    font-size: 24px;
  }
}
@media (max-width: 594px) {
  .bonusSection_right {
    width: 450px;
    height: 298px;
  }
}
@media (max-width: 550px) {
  .bonusSection {
    background: url("../public/sectionImg/slot1-mobile.webp") no-repeat top 10%
      center / auto 50%;
  }
  .bonusSection_right {
    height: 220px;
    width: 380px;
  }
}
@media (max-width: 420px) {
  .bonusSection_right {
    width: 330px;
  }
  .bonusSection_left {
    gap: 14px;
  }
  .bonusSection_left p {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .bonusSection_right {
    width: 300px;
    height: 180px;
  }
}

.show-850 {
  display: none;
}

@media (max-width: 1100px) {
  .row {
    grid-template-columns: 25% 15% 15% 15% 30%;
  }
  .hide-1000 {
    display: none !important;
  }
  .width-120 {
    width: 100px;
  }

  .width-140 {
    width: 120px;
  }

  .width-160 {
    width: 120px;
  }
}
@media (max-width: 850px) {
  .gap-64 {
    gap: 40px;
  }

  .lastBlock {
    flex-direction: column;
  }
  .cell {
    font-size: 18px;
    height: 80px;
    line-height: normal;
  }
  .row {
    grid-template-columns: 36% 22% 22% 20%;
  }

  .row button {
    width: auto;
  }

  .cell:after {
    display: none;
  }

  .cell:first-child:after {
    display: block;
    height: 64px;
  }
  .hide-850 {
    display: none !important;
  }

  .show-850 {
    display: block;
  }
}
@media (max-width: 768px) {
  .button-primary {
    font-size: var(--button-font-size-mobile-primary);
    padding: 4px 20px;
    min-width: 240px;
    width: var(--button-primary-mobile-width);
    height: 77px;
    line-height: 100%;
  }
  .button-secondary {
    font-size: var(--button-font-size-mobile-secondary);
    width: var(--button-secondary-mobile-width) !important;
    height: 54px !important;
  }
  .title-black,
  .title-white {
    font-size: 32px;
    /* font-weight: var(--font-weight-second); */
  }

  .text {
    font-size: 18px;
    line-height: 32px;
  }

  .title-small {
    font-size: 24px;
  }
  .cell .info {
    height: var(--svg--info-width);
    width: var(--svg--info-width);
  }
  .cards {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 240px);
  }
  .cardCasino {
    width: 240px;
    height: 264px;
    padding: 16px;
    border-radius: var(--border-radius);
  }
  .cardCasino img {
    width: 160px;
    height: 64px;
  }
  .cardCasino h3 {
    display: none;
  }
  .cardCasino h4 {
    margin-bottom: -8px;
  }
  .cardCasino p {
    font-size: 16px;
  }
  .cardCasino button {
    margin-top: auto;
  }
  .topCasinoSection {
    gap: 40px;
    margin: 52px auto 64px;
  }
  .bonusDetailSection_wrapper {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .cell {
    font-size: 16px;
    padding: 4px 8px;
  }
  h2.title-white,
  h2.title-black {
    font-size: 26px;
  }
}
@media (max-width: 420px) {
  .button-primary {
    font-size: 18px;
    padding: 10px 14px;
  }
}

@media (max-width: 380px) {
  .button-primary {
    height: 60px;
    width: 270px;
  }
}

@media (max-width: 300px) {
  .button-secondary {
    padding: 2px 16px;
    width: auto;
    height: auto;
  }
  .button-primary {
    width: auto;
    height: auto;
  }
}
@media (max-width: 1100px) {
  .gameCard h3 {
    font-size: 20px;
  }
  .gameBlock_text {
    font-size: 18px;
  }
  .gameCard > div {
    gap: 8px;
  }
}

@media (max-width: 950px) {
  .games {
    grid-template-columns: repeat(3, 1fr);
  }
  .gameCard {
    max-width: none;
    max-height: none;
  }
}

@media (max-width: 768px) {
  .redSection {
    padding: 40px 0;
  }
  .wrapper {
    gap: 40px;
  }
  .gameCard > div {
    border-radius: var(--border-radius);
  }
  .gameCard > img {
    border-radius: var(--border-radius);
  }
}

@media (max-width: 760px) {
  .games {
    grid-template-columns: repeat(2, 1fr);
    gap: 23px 16px;
  }
}
@media (max-width: 525px) {
  .games {
    grid-template-columns: repeat(1, 1fr);
  }
  .gameCard h3 {
    font-size: 24px;
  }
  .gameBlock_text {
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  .footer .wrapper {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .ulBlock {
    padding-top: 40px;
    gap: 16px;
  }
  .ulBlock li {
    padding: 16px 0;
  }
  .ulBlock li a {
    font-size: 32px;
  }
  .listBlock {
    grid-template-columns: repeat(1, 1fr);
  }

  main {
    margin-bottom: 64px;
  }

  .footer .logo {
    height: 31px;
  }
  .footer .logo img {
    height: 31px;
  }

  .footer .wrapper {
    gap: 16px;
  }

  .faqElement {
    font-size: 18px;
    padding: 10px 20px;
    word-wrap: break-word;
    word-break: break-word;
    border-radius: var(--border-radius);
  }

  .faqBlock {
    gap: 10px;
  }

  .faqText {
    font-size: 18px;
    line-height: 32px;
  }

  .faqElement img {
    margin-right: 19px;
    width: 18px;
    height: 18px;
  }
}
