:root {
  --main-bg: #FFFFFF;
  --color-white: #FFFFFF;
  --color-black: #1D192A;
  --bg-red-gradient: #1D192A;
  --bg-section-second: #F9F8F5;
  --bg-header: #FFFFFF;
  --bg-footer: #1D192A;
  --bg-footer-inside: #1A1725;
  --color-purple: #1D192A;
  --shadow: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.75));
  --copyright: rgba(255, 255, 255, 0.342);
  --border-yellow: #f0af30;
  --font-family-main: var(--font-sf-pro-rounded), 'SF Pro Rounded', system-ui, sans-serif;
  --font-family-second: var(--font-roboto), 'Roboto', sans-serif;
  --border-radius: 15px;
  --border-radius-button: 120px;
  --border-radius-second: 15px;
  --font-weight-main: 400;
  --font-weight-second: 700;
  --font-weight-third: 700;
  --font-weight-500: 500;
  --after-element: rgba(255, 255, 255, 0.2);
  --after-element-second: rgba(0, 0, 0, 0.2);
  --button-primary-bg: #6743DD;
  --button-primary-color: #FFFFFF;
  --button-font-size-primary: 24px;
  --button-primary-width: 281px;
  --button-primary-height: 77px;
  --button-secondary-bg: #FFA8CD;
  --button-secondary-color: #1D192A;
  --button-secondary-width: 214px;
  --button-secondary-height: 64px;
  --button-primary-mobile-width: 280px;
  --button-font-size-mobile-primary: 18px;
  --button-secondary-mobile-width: 128px;
  --button-font-size-mobile-secondary: 14px;
  --header-buttons-desktop-height: 51px;
  --header-second-desktop-button-width: 164px;
  --button-font-size-desktop-header: 16px;
  --button-radius-desktop: 120px;
  --header-buttons-color-text: #1D192A;
  --header-buttons-mobile-height: 38px;
  --header-second-mobile-button-width: 107px;
  --button-font-size-mobile-header: 12px;
  --button-radius-mobile: 80px;
  --table-head: #F9F8F5;
  --table-head-color: #1D192A;
  --table-body: #F9F8F5;
  --table-body-color: #1D192A;
  --welcome-bonus-color: #FFFFFF;
  --bonus-section-text: #FFFFFF;
  --bonus-section-bg: #2D2741;
  --h1-section-bg: #1D192A;
  --h1-section-text: #FFFFFF;
  --top-casino-text-color: #1D192A;
  --top-games-text-color: #6743DD;
  --payments-text-left: #1D192A;
  --faq-question-color: #1D192A;
  --faq-text-color: #FFFFFF;
  --support-text-color: #1D192A;
  --last-text-color: #1D192A;
}
