:root {
  --main-bg: #ffffff;
  --color-white: #ffffff;
  --color-black: #000a1c;
  --bg-red-gradient: #05286a;
  --bg-section-second: #f2f6fa;
  --bg-header: #05286a;
  --bg-footer: #03183f;
  --bg-footer-inside: #05286a;
  --color-purple: #05286a;
  --shadow: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.75));
  --copyright: rgba(255, 255, 255, 0.342);
  --border-yellow: #00c38f;
  --font-family-main: var(--font-pathway-extreme), 'Pathway Extreme', system-ui,
    sans-serif;
  --font-family-second: var(--font-roboto), 'Roboto', sans-serif;
  --border-radius: 0px;
  --border-radius-button: 0px;
  --border-radius-second: 0px;
  --font-weight-main: 700;
  --font-weight-second: 700;
  --font-weight-third: 700;
  --font-weight-500: 500;
  --after-element: rgba(255, 255, 255, 0.2);
  --after-element-second: rgba(0, 0, 0, 0.2);
  --button-primary-bg: #00c38f;
  --button-primary-color: #ffffff;
  --button-font-size-primary: 24px;
  --button-primary-width: 306px;
  --button-primary-height: 81px;
  --button-secondary-bg: #0073cd;
  --button-secondary-color: #ffffff;
  --button-secondary-width: 235px;
  --button-secondary-height: 67px;
  --button-primary-mobile-width: 280px;
  --button-font-size-mobile-primary: 18px;
  --button-secondary-mobile-width: 142px;
  --button-font-size-mobile-secondary: 14px;
  --header-buttons-desktop-height: 54px;
  --header-second-desktop-button-width: 175px;
  --button-font-size-desktop-header: 16px;
  --button-radius-desktop: 0px;
  --header-buttons-color-text: #ffffff;
  --header-buttons-mobile-height: 40px;
  --header-second-mobile-button-width: 115px;
  --button-font-size-mobile-header: 12px;
  --button-radius-mobile: 0px;
  --table-head: #f2f6fa;
  --table-head-color: #000a1c;
  --table-body: #f2f6fa;
  --table-body-color: #000a1c;
  --welcome-bonus-color: #ffffff;
  --bonus-section-text: #ffffff;
  --bonus-section-bg: #05286a;
  --h1-section-bg: #05286a;
  --h1-section-text: #ffffff;
  --top-casino-text-color: #000a1c;
  --top-games-text-color: #00c38f;
  --payments-text-left: #00000080;
  --payments-table-head: #f2f6fa;
  --payments-table-body: #f2f6fa;
  --software-provider-card-bg: #f2f6fa;
  --faq-question-color: #000a1c;
  --faq-text-color: #ffffff;
  --support-text-color: #000a1c;
  --last-text-color: #000a1c;
}
