.application {
  position: relative;
  padding-bottom: 7rem;
}
.applicationBlock {
  position: relative;
  z-index: 1;
  padding-top: 9.5625rem;
}

.applicationTitle {
  margin-bottom: 2.5rem;
}

.applicationGroup {
  display: flex;
  gap: 5rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.applicationColumn {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.applicationColumn:nth-child(2) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.applicationDescription {
  line-height: 2.5rem;
}

.applicationImage {
  max-width: 36.9375rem;
  width: auto;
  height: auto;
}

.applicationStoreGroup {
  margin-top: 2.5rem;
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
}

.applicationMobilePhone {
  max-width: 17.1875rem;
  height: auto;
}

@media (max-width: 1024px) {
  .applicationGroup {
    flex-direction: column;
    gap: 2.5rem;
  }
  .applicationColumn {
    flex-basis: 100%;
  }
  .applicationStoreGroup {
    align-self: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .applicationMobilePhone {
    max-width: 12rem;
    height: auto;
  }
}
