.navBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulBlock {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ulBlock li a {
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-family-second);
  font-size: 16px;
  font-weight: var(--font-weight-500);
  transition: color 0.3s ease;
  white-space: nowrap;
}

.ulBlock li a.active {
  color: var(--top-games-text-color);
}

.ulBlock li a:hover {
  color: var(--top-games-text-color);
}

@media (max-width: 1024px) {
  .ulBlock {
    position: absolute;
    top: 96px;
    left: -100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 100px;
    background: var(--bg-red-gradient);
    list-style-type: none;
    transition: 0.3s;
    width: 100%;
    height: calc(100vh - 96px);
  }

  .ulBlock.open {
    left: 0;
  }

  .ulBlock li a {
    font-size: 32px;
    color: var(--color-white);
  }

  .ulBlock li a.active,
  .ulBlock li a:hover {
    color: var(--top-games-text-color);
  }
}

@media (max-width: 768px) {
  .ulBlock {
    padding-top: 40px;
    gap: 16px;
    top: 80px;
  }

  .ulBlock li {
    padding: 16px 0;
  }

  .ulBlock li a {
    font-size: 32px;
  }
}
