.section {
  margin: 140px 0;
}
.section li {
  list-style: disc outside;
}
.section ul {
  margin-left: 16px;
}
.textBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 1180px) {
  .section {
    margin: 64px auto;
  }
}
/* .rightBlock img {
  margin-right: -100px;
  margin-top: 15px;
} */
.wrapper,
.leftBlock {
  display: flex;
  gap: 48px;
}

.textBlock p,
.textBlock li {
  color: var(--support-text-color);
}

.leftBlock {
  flex-direction: column;
}

.wrapper {
  justify-content: space-between;
}

/* @media (max-width: 1380px) {
  .wrapper img {
    margin-right: 0px;
  }
} */

@media (max-width: 1210px) {
  .wrapper img {
    display: none;
  }
}
@media (max-width: 768px) {
  .leftBlock {
    gap: 24px;
  }
}
